.wrapper {
    display: flex;
}

input {
    padding: 8px 35px 8px 12px;
    color: #ffffff;
    font-size: 16px;
    width: 300px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: transparent;
}

sc-svg-icon {
    padding-top: 5px;
    margin-left: -26px;
}