.main-container {
    height: 100vh;
    width: 100%;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
}

.section-forecast {
    width: 100%;
}

.section-sidebar {
    width: 380px;
}
