<div class="sidebar">
    <div class="header">
        <sc-input-field icon="search"></sc-input-field>
    </div>
    <div class="content">
        <div class="current-temperature">
            <span>
                <div class="current-value">25°</div>
                <div class="sub-value"></div>   
            </span>
            <span class="temperature-unit">
                C/F
            </span>
        </div>
        <div class="weather-metrics cards">
        </div>
        <div class="air-quality">
            <div class="current-location"></div>
            <div class="aqi-description"></div>
        </div>
    </div>
</div>
