@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif; /* Replace 'Your Font' with your preferred font */
}

html, body {
    height: 100%;
    width: 100%;
}

.cdk-overlay-container {
    .cdk-overlay-pane .mdc-menu-surface.mat-mdc-autocomplete-panel {
        padding: 0;
    }
}