@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif; /* Replace 'Your Font' with your preferred font */
}

html, body {
    height: 100%;
    width: 100%;
}

.cdk-overlay-container {
    .cdk-overlay-pane .mdc-menu-surface.mat-mdc-autocomplete-panel {
        padding: 0;
    }
}


// Define a map of font sizes and corresponding font weights
$font-sizes: ( 
  14: (
    regular: 400,
    bold: 600
  ),
  16: (
    regular: 400,
    bold: 600
  ),
  18: (
    regular: 400,
    semi-bold: 500,
    bold: 600,
    heavy: 700
  ),
  20: (
    regular: 400,
    bold: 600,
    heavy: 700
  ),
  25: (
    regular: 400,
    bold: 600,
    heavy: 700
  ),
  50: (
    regular: 400,
    bold: 600,
    heavy: 700
  ),
  60: (
    regular: 400,
    bold: 600,
    heavy: 700
  ),
  // Add more font sizes and weights as needed
);

// Loop through font sizes and weights to generate classes
@each $size, $weights in $font-sizes {
  @each $weight-name, $weight-value in $weights {
    .font-#{$size}-#{$weight-name} {
      font-size: #{$size}px;
      font-weight: #{$weight-value};
    }
  }
}

.custom-paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent !important;

    .mat-mdc-paginator-outer-container .mat-mdc-paginator-container .mat-mdc-paginator-range-actions .mat-mdc-paginator-range-label {
        display: none !important;
    
    }

    .mat-mdc-paginator-navigation-next .mat-mdc-button-touch-target {
        color: #FFFFFF;
    }
}

.custom-paginator ::ng-deep .mat-paginator-range-label,
.custom-paginator ::ng-deep .mat-paginator-page-size,
.custom-paginator ::ng-deep .mat-paginator-page-size-options,
.custom-paginator ::ng-deep .mat-paginator-navigation {
    display: none !important;
}